extends layout

block content 
    <form method = 'POST' action="/new">
        <input name='messageUser' value='User'></input>
        <input name='messageText' value='Text'></input>
        <button type='submit'>Submit</button>
    </form>